body {
	font-family: "Lucida Grande", Verdana;
	font-size: 14px;
}

.uicontrol {
	font-size: 100%;
}

.title.topictitle1 {
	color: gold;
	background-color: dimgrey;
	border-radius: 11px;
	border-left: 12px solid gold;
	padding-left: 25px;
	text-transform: capitalize;
}

div.fignone img.mindmap {
	display: block;
	border: 1px solid darkgray;
	border-radius: 5px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 10px lightgray;
}

div.fignone img.toolbar {
	margin-top: 5px;
	margin-bottom: 5px;
}


#header #customLogo {
	background-image: url('images/76812-freemind_v0.4.png');
}

/*
div#productTitle h1:before {
    display:inline;
    content:url('images/76812-freemind_v0.4.png');
}
*/

span[class="ph uicontrol keyboard"] {
	font-weight: normal;
	background-color: #efefef;
	border: 1px solid darkgray;
	padding: 2px 8px 2px 8px;
	border-radius: 5px;
}

div[class="itemgroup info"], div[class="itemgroup stepresult"] {
	position: relative;
	left: 1em;
	padding-top: 8px;
}

.ul, .ol, .dl {
	margin-top: 15px;
	margin-bottom: 15px;
}

span[class="keyword wintitle"] {
	font-weight: bold;
	font-style: italic;
}

ol.steps::before {
	content: "Steps";
	font-variant: small-caps;
}

#tree {
	font-family: "Lucida Grande", Verdana;
	font-weight: bold;
}

.attention .tip {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 8px;
	background-color: lightyellow;
	border-left: 5px solid darkgray;
}